/EV Station-based Rental System.sln
/EVStation-APIGateWay/EVStation-ApiGateWay.csproj
/EVStation-basedRentalSysteEM.Services.BookingAPI/EVStation-basedRentalSysteEM.Services.BookingAPI.csproj
/EVStation-basedRentalSysteEM.Services.CarAPI/EVStation-basedRentalSysteEM.Services.CarAPI.csproj
/EVStation-basedRentalSystem.Services.CouponAPI/EVStation-basedRentalSystem.Services.AuthAPI.csproj
/EVStation-basedRentalSystem.Services.MailAPI/EVStation-basedRentalSystem.Services.MailAPI.csproj
/EVStation-basedRentalSystem.Services.UserAPI/EVStation-basedRentalSystem.Services.UserAPI.csproj
